<div class='home-banner'>
	<div class='home_banner_btn'>
		<a href='/signup'><img alt="Sign Up" src="/images/home_banner_btn.gif"/></a>
	</div>
</div>   

<div class='consumer_benefits'>
	 <h1><%=image_tag 'consumers_benefits_header.png',:alt => 'KoolWallet is Cool for Consumers'%></h1>
	<div class='earn_coins'>
		 Consumers also have the chance to easily earn Kool Wallet coins. 
		<a class="more" href="/signup">Sign-up Now »</a>
	</div> 
	<ul class='kool_wallet_consumer_benefits_list horizontal_list'>
 		<li>
			<h3>Easy to setup and use</h3>
			<p>
				Takes only 1 minute to set up your account and one easy click to pay
			</p>
		</li>
		<li>
			<h3>Instant Deliver</h3>

			<p>
				Content is quickly delivered to you after payment. No sitting through advertisements
			</p>
		</li>
		<li>
			<h3>Safe & Secure</h3>
			<p>
				Cutting edge online security technology, only registered vendors can accept payments
			</p>

		</li>
		<li>
			<h3>Anonymous</h3>
			<p>
				Avoid receiving spam e-mails and there is no risk of identity theft
			</p>
		</li>
		<li>
			<h3>Micro</h3>

			<p>
				Small amounts in each transaction (<$2) - micro payment with micro risk
			</p>
		</li>
		<li>
			<h3>Signup Now</h3>
			<a href="/signup">
				Begin using the simplest micropayment service &raquo;

			</a>
		</li>
	</ul>
</div>     
<div class='publisher_benefits'>
	 <h1><%=image_tag 'publisher_benefits_header.png',:alt => 'Kool Wallet for Publishers'%></h1>
	Publishers will love the ease of use and integration of the KoolWallet service. Simply sign up, follow the simple steps, and enjoy the dashboard to manage all of your orders. 
</div>