      <div class='content-foot'>
        	<div class="component connect_with_us">
	        <h3>Connect with us</h3>
	        <div class="vertical_list">
	          <div class="footer_f_box">

	            <a href="#">
	              <img src="/images/fb_icon.png" alt="Facebook"/>
	              <span>Share on Facebook</span>
	              </a>
	            </div>
	          <div class="footer_f_box">
	            <a href="#">
	              <img src="/images/twitter_icon.png" alt="Twitter"/>

	              <span>Follow us on Twitter</span>
	            </a>
	          </div>
	        </div>
	      </div>
	      <div class="component receive_updates">
	        <h3>Receive Updates</h3>
	        <p>Sign up and we'll send you updates on the KoolWallet service</p>

	        <form action="#">
	          <input type="text" class="medium text"/>
	          <input type="button" class="medium submit blue_green" value="Submit"/>
	        </form>
	      </div>
	      <div class="component who_uses_kool_wallet">
	        <h3>Who uses KoolWallet?</h3>
	        <p>

	          Find this button on any site using KoolWallet to get started
	        </p>
	        <img class="affiliate" src="/images/affiliate_btn.png" alt="kool wallet affiliate button"/>
	      </div>
	      
        </div>  

	</div>   
	<ul id="footer_menu" class="horizontal_list">
      <li class="first">
        <a href="/user/register">Sign-Up</a>

      </li>
      <li>
        <a href="/site/about">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>

        <a href="/site/faq">FAQ</a>
      </li>
      <li class="last">
        <a href="/developers">Developers</a>
      </li>
    </ul>
    <span id="copy_right_notice">&#169; Copyright KoolWallet, Inc. 2008, All Rights Reserved</span>